<div class="jumbotron">
  <h1>Ninety Ten Solutions</h1>
  <p>Sampler Page</p>
  <p><a class="btn btn-default btn-lg" href="#" role="button">Contact Us</a></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>1. Artificial Intelligence</h3>
        <p>Try our chat bot to book a table at our resturant</p>
        <p><a href="#" class="btn btn-default" role="button">AI BOT</a></p>
      </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>2. User Interface</h3>
        <p>Use our data set viewer to Create, Read, Update and Delete Bookings</p>
        <p><a href="#" class="btn btn-default" role="button">View Bookings</a></p>
      </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>3. Generate Reports</h3>
        <p>Run a Tableau Report to review performance</p>
        <p><a href="#" class="btn btn-default" role="button">View Reports</a></p>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>4. Support</h3>
        <p>Fill in the form to log a ticket</p>
        <p><a href="#" class="btn btn-default" role="button">Log Ticket</a></p>
      </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>5. Salesforce Integration</h3>
        <p>Merge your data with Salesforce</p>
        <p><a href="#" class="btn btn-default" role="button">Sync Now</a></p>
      </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>6. Receive updates</h3>
        <p>Generate a callback or courtesy call.</p>
        <p><a href="#" class="btn btn-default" role="button">Log Ticket</a></p>
      </div>
  </div>
</div>
