<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--  ----------------------------------------------------------------------  -->
        <!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
        <!--  If necessary, please modify the charset parameter to specify the        -->
        <!--  character set of your HTML page.                                        -->
        <!--  ----------------------------------------------------------------------  -->
                                        
        <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
             function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
        </script>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/responsive.css" />

        <script src="assets/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script type="text/javascript">
            <!-- var accessToken = "dce399808780466db898fad9bfae71fe",-->
            var accessToken = "bd9ddd9bfed34b448980b0890182ccfe",
              baseUrl = "https://api.api.ai/v1/",
              $speechInput,
              $recBtn,
              recognition,
              messageRecording = "Recording...",
              messageCouldntHear = "I couldn't hear you, could you say that again?",
              messageInternalError = "Oh no, there has been an internal server error",
              messageSorry = "I'm sorry, I don't have the answer to that yet.";
        
            $(document).ready(function() {
              $speechInput = $("#speech");
              $recBtn = $("#rec");
        
              $speechInput.keypress(function(event) {
                if (event.which == 13) {
                  event.preventDefault();
                  send();
                }
              });
              $recBtn.on("click", function(event) {
                switchRecognition();
              });
              $(".debug__btn").on("click", function() {
                $(this).next().toggleClass("is-active");
                return false;
              });
            });
        
            function startRecognition() {
              recognition = new webkitSpeechRecognition();
              recognition.continuous = false;
                  recognition.interimResults = false;
        
              recognition.onstart = function(event) {
                respond(messageRecording);
                updateRec();
              };
              recognition.onresult = function(event) {
                recognition.onend = null;
                
                var text = "";
                  for (var i = event.resultIndex; i < event.results.length; ++i) {
                    text += event.results[i][0].transcript;
                  }
                  setInput(text);
                stopRecognition();
              };
              recognition.onend = function() {
                respond(messageCouldntHear);
                stopRecognition();
              };
              recognition.lang = "en-US";
              recognition.start();
            }
          
            function stopRecognition() {
              if (recognition) {
                recognition.stop();
                recognition = null;
              }
              updateRec();
            }
        
            function switchRecognition() {
              if (recognition) {
                stopRecognition();
              } else {
                startRecognition();
              }
            }
        
            function setInput(text) {
              $speechInput.val(text);
              send();
            }
        
            function updateRec() {
              $recBtn.text(recognition ? "Stop" : "Speak");
            }
        
            function send() {
              var text = $speechInput.val();
              $.ajax({
                type: "POST",
                url: baseUrl + "query",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                  "Authorization": "Bearer " + accessToken
                },
                data: JSON.stringify({query: text, lang: "en", sessionId: "yaydevdiner"}),
        
                success: function(data) {
                  prepareResponse(data);
                },
                error: function() {
                  respond(messageInternalError);
                }
              });
            }
        
            function prepareResponse(val) {
              var debugJSON = JSON.stringify(val, undefined, 2),
                spokenResponse = val.result.speech;
        
              respond(spokenResponse);
              debugRespond(debugJSON);
            }
        
            function debugRespond(val) {
              $("#response").text(val);
            }
        
            function respond(val) {
              if (val == "") {
                val = messageSorry;
              }
        
              if (val !== messageRecording) {
                var msg = new SpeechSynthesisUtterance();
                msg.voiceURI = "native";
                msg.text = val;
                msg.lang = "en-US";
                window.speechSynthesis.speak(msg);
              }
        
              $("#spokenResponse").addClass("is-active").find(".spoken-response__text").html(val);
            }
          </script>

    </head>
    
    
    
    <body data-spy="scroll" data-target="#main-navbar">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        

         <script>
        
            window.fbAsyncInit = function() {
              FB.init({
                appId: "1011691685637550",
                xfbml: true,
                version: "v2.6"
              });
        
            };
        
            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) { return; }
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div id="menubar" class="main-menu">	
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/andrew-pereira-a366849/"><i class="fa fa-linkedin"></i></a><label class="h4">ANDREW PEREIRA 0414150933</label>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                           <!-- <li><a href="#our-history">My Story</a></li> -->
                           <!-- <li><a href="#our-project">Skill Set</a></li> -->
                           <li><a href="#our-portfolio">Work Samples</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--Home page style-->
        <header id="home" class="sections">
            <div class="container">

                <div class="row">
                    <div class="homepage-style">

                        <div class="top-arrow hidden-xs text-center"><img src="assets/top-arrow.png" alt="" /></div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="unique-apps">
                               <h2>SOLUTION ENGINEER</h2>
                                <p>
                                    Welcome to the sampler built with Ruby on Rails, Heroku and Salesforce Integration.<br>
                                    
                                    I hope this web app helps you gain an impression of my skillset.
                                </p>

                                <!-- <div class="home-btn"><a href="assets/Andrew Pereira Resume - CV.docx"><button class="btn btn-primary">Download Resume <span><i class="fa fa-paper-plane"></i></span></button></a></div> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="slider-area">

                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">

                                        <div class="item active">
                                            <img src="assets/slider-img.png" alt="" />
                                        </div>

                                        <div class="item">
                                            <img src="assets/slider-img.png" alt="" />
                                        </div>

                                        <div class="item">
                                            <img src="assets/slider-img.png" alt="" />
                                        </div>

                                        <div class="item">
                                            <img src="assets/slider-img.png" alt="" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>	
                </div>

            </div>

        </header>

        <!-- Sections -->
        <!--
        <section id="our-history" class="sections">
            <div class="container">

                <div class="row">

                    <div class="main-history">

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="history-img">
                                <img src="assets/history-img.png" alt="" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="history-wrapper">
                                <div class="history-heading"> 
                                    <h5 class="our-history">My Story</h5>
                                </div>

                                <div class="history-content">
                                    <p>
                                        I started my IT career in GE as a work experience student in Uni. Upon completition I was offerred a position as a network admin and was fortunate enough to be mentored by a senior technical lead. In 2008 I learnt abit about SIP / VoIP before it randomly took off and was offerred a role with the state government to look after contact centre solutions for NSW Justice and FACS.
                                    </p>

                                    <p>
                                        Initially I was in operational support and I was promoted to a team leader type role a few years into it managing a small team that maintained apps and assets being used 24 * 7.
                                    </p>

                                    <p>
                                        Service NSW then approached me to work on a short 6 month secondment to deploy a few customer service ICT solutions. The projects kept piling up as the department grew and I hanged around for another year before I was offerred an interesting role with Inference solutions.
                                    </p>
                                    
                                    <p>
                                        Throughout my career I have been given a mixed bag of opportunties, which has been great as I have had a taste of a few products and languages. I consider myself a jack of all trades in the ICT industry and looking forward to the next challenge. 
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-project" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">

                        <h4 class="">Skill Set Summary</h4>
                        <img class="hidden-xs" src="assets/right-arrow.png" alt="" />
                    </div>
                </div>

                <div class="row">
                    
                    <div class="main-project text-center">
                        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/1.png" alt="" /></div>
                                <h5>13Y ICT INDUSTRY EXP</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/2.png" alt="" /></div>
                                <h5>2.5Y MANAGEMENT EXP</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/3.png" alt="" /></div>
                                <h5>3Y PROJECT MGMT</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/4.png" alt="" /></div>
                                <h5>4Y SERVICE MGMT</h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    
                    <div class="main-project text-center">
                
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/5.png" alt="" /></div>
                                <h5>10Y SUPPORT</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/6.png" alt="" /></div>
                                <h5>3Y DEVELOPMENT</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/7.png" alt="" /></div>
                                <h5>4Y SENIOR ANALYST</h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="project-item">
                                <div class="project-photo"><img src="assets/projects/8.png" alt="" /></div>
                                <h5>3Y AGILE, PRINCE2</h5>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section> 
        -->

<section id="our-portfolio" class="sections">
            <div class="container">

                <div class="row">
                    <div class="heading">
                        <div class="title text-center arrow-right">
                            <h4 class="">WORK SAMPLES</h4>
                            <img class="hidden-xs" src="assets/right-arrow.png" alt="" />

                        </div>
                    </div>	


                    <!-- Example row of columns -->

                    <div class="portfolio-wrap">

                        <div class="portfolio">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>MY ARTIFICAL INTELLIGENCE BOT</h4>
                                    <p>
                                        Try out my reseturant booking bot, which will add a reservation to the booking table. You can interact with the bot by using:
                                    </p>
                                    <p>
                                        Facebook Messenger
                                    </p>
                                
                                <div class="fb-messengermessageus" 
                                  messenger_app_id="1011691685637550" 
                                  page_id="361699827595441"
                                  color="blue"
                                  size="xlarge" >
                                </div>  
                                
                                <p>
                                    <br>Speech Recognition by clicking the "Speak" button
                                </p>
                                
                                    <div>
                                      <div class="container">
                                        <input id="speech" type="text">
                                        <button id="rec" class="btn pt-btn btn-primary">Speak</button>
                                        <div id="spokenResponse" class="spoken-response">
                                          <div class="spoken-response__text"></div>
                                        </div>
                                      </div>
                                      <!--<div class="debug">
                                        <div class="debug__btn btn">
                                          Debug JSON results
                                        </div>
                                        <div class="debug__content">
                                          <textarea id="response" cols="40" rows="20"></textarea>
                                        </div>
                                      </div>-->
                                    
                                      <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">
                                    </div>
                                
                                    <p>
                                        <br>Live Chat 
                                    </p>
                                    
                                <div>
                                    <iframe
                                    width="600"
                                    height="350"
                                    src="https://console.api.ai/api-client/demo/embedded/e60bfbf9-ebed-4cf0-96bc-610791787a5e">
                                    </iframe>
                                </div> 

                                </div>
                            </div>

                        </div>



                        <div class="portfolio">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>MY SALESFORCE INTEGRATION</h4>
                                    <p>
                                        Fill in this form to generate a support ticket and obtain a salesforce case number via the entered email address.heroku in
                                    </p>
                                    <div>
                                        <!--  ----------------------------------------------------------------------  -->
                                        <!--  NOTE: Please add the following <FORM> element to your page.             -->
                                        <!--  ----------------------------------------------------------------------  -->
                                        
                                        <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
                                        
                                        <input type=hidden name='captcha_settings' value='{"keyname":"andrew","fallback":"true","orgId":"00D7F000000s7gb","ts":""}'>
                                        <input type=hidden name="orgid" value="00D7F000000s7gb">
                                        <input type=hidden name="retURL" value="https://ninetytensolutions.herokuapp.com/">
                                        
                                        <!--  ----------------------------------------------------------------------  -->
                                        <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                                        <!--  these lines if you wish to test in debug mode.                          -->
                                        <!--  <input type="hidden" name="debug" value=1>                              -->
                                        <!--  <input type="hidden" name="debugEmail"                                  -->
                                        <!--  value="pereira.andrew@gmail.com">                                       -->
                                        <!--  ----------------------------------------------------------------------  -->
                                        
                                        
                                        <table id="table" width=300 border="0">				
				                            <tr>
					                            <td width="45%"><label for="name">Name</label></td>
					                            <td width="55%" align="center"><input  id="name" maxlength="80" name="name" size="20" type="text"/></td>
				                            </tr>
				                            <tr>
					                            <td width="45%"><label for="email">Email</label></td>
					                            <td width="55%" align="center"><input  id="email" maxlength="80" name="email" size="20" type="text"/></td>
				                            </tr>
				                            <tr>
					                            <td width="45%"><label for="phone">Phone</label></td>
					                            <td width="55%" align="center"><input  id="phone" maxlength="40" name="phone" size="20" type="text" /></td>
				                            </tr>
				                            <tr>
					                            <td width="45%"><label for="subject">Subject</label></td>
					                            <td width="55%" align="center"><input  id="subject" maxlength="80" name="subject" size="20" type="text" /></td>
				                            </tr>
				                            <tr>
					                            <td width="45%"><label for="description">Description</label></td>
					                            <td width="55%" align="center"><textarea name="description"></textarea><br></td>
				                            </tr>
				                        </table>
				                        
                                        <input class="btn pt-btn btn-primary" type="submit" name="submit">
                                        
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="assets/monitor.png" alt="" />
                            </div>

                        </div>
                        
                        
                        <div class="portfolio">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>MY USER INTERFACE</h4>
                                    
                                    <p>
                                        A simple CRUD app to Create Read Update and Delete Bookings that integrates with a Salesforce custom object via Heroku Connect
                                    </p>
                                
                                <div>
                                    <iframe style="height: 700px; overflow:hidden; width: 100%" src="/ninety_ten_bookings/" frameBorder="0"></iframe>
                                </div>                             
                                
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <!-- /container -->       
        </section>

        <div class="scroll-top">

            <div class="scrollup">
                <i class="fa fa-angle-double-up"></i>
            </div>

        </div>

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">

                <div class="row">

                    <div class="socio-copyright">

                    </div>

                </div>	
            </div>

        </footer>

        <script src="assets/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/vendor/bootstrap.min.js"></script>

        <script src="assets/plugins.js"></script>
        <script src="assets/main.js"></script>
    </body>
</html>
